DJANGO_SECRET_KEY=change-me
DJANGO_DEBUG=true
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1
CORS_ALLOWED_ORIGINS=http://localhost:8081,http://127.0.0.1:8081

POSTGRES_DB=private_class_app
POSTGRES_USER=private_class_app
POSTGRES_PASSWORD=private_class_app
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
